.App{
    background-color: antiquewhite;
    width:100%;
    height:100%;
}
.hedding{
    text-align: center;
    -webkit-text-fill-color: aliceblue;
    display: flex;
    justify-content:center;
    background-color: black;
    height:60px;
    letter-spacing:5px;
}
.cart{
    display: flex;
    justify-content: end;
    padding-right:50px;
    margin:50px;
    font-size: large;
}

.App .Layer{
    text-align:center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin:30px;
    justify-content: center;
    padding: 10px;;
}
s{
    opacity: 50%;
}
